@import "_vars";

.dark-text{
  color: $gs-1 !important; }

.grey-text{
  color: $gs-3 !important; }

.white-text {
    color: $white !important; }

.orange-text {
    color: $brand-1 !important; }

.dark-bg, .dark-line {
    background: $gs-1 !important; }

.grey-bg, .grey-line {
    background: $gs-3 !important; }

.white-bg, .white-line {
    background: $white !important; }

.orange-bg {
    background: $brand-1 !important; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

section {
  width: 100%;
  padding: 60px 0 80px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both; }

[class*="col-"] {
  float: left;
  min-height: 1px;
  height: auto;
  padding: 0 10px;
  border: 0; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

h1, h2, h3, h4, h5, h6 {
  color: $gs-1;
}

.btn {
  @include btn;
}

.line {
  @include line;
}

.orange-btn {
  background-color: $brand-1;
  color: $white;
  &:hover {
      background-color: $b1-acc;
      border: none;
      cursor: pointer;
  }
}

.dark-btn {
  background-color: $gs-1;
  color: $white;
  &:hover {
      background-color: $gs-3;
      border: none;
      cursor: pointer;
  }
}
